<html>
<header>
    <title>Login User</title>
</header>

<body>

    <form action="/product" method="POST">
        <p>Name: <input type="text" name="name" /></p>
        <p>Decription:<input type="text" name="decription" /></p>
        <p>Price:<input type="text" name="price" /></p>
        <input type="submit" name="submit" />
    </form>
    

 
    
</body>
</html>